*{
    margin: 0;
    padding: 0;
        list-style: none;
      text-decoration: none;
}

.header{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #0a4e96;
}
.logo{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li a{
   color: #fff;
   font-size: 14px;
}
nav ul li a:hover{
    color: #3496ff;
    transition: 0.3s;
}
.btn{
    background-color: #3496ff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 15px;
}